<!-- <p>add-student works!</p> -->
<div class ="row justify-content-center mt-5">
    <div class="col-md-6">
        <form [formGroup]="studform" (ngSubmit)="addstud()">
            <div class="form-group">
                <label for="name"> Student ID</label>
                <input type="number" class="form-control" formControlName="id" required placeholder="Student ID">
                <span style="color:red;" *ngIf="studform.controls['id'] && studform.controls['id'].touched && studform.controls['id'].invalid">Required Field</span> <br>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" formControlName="name" required placeholder="Student Name">
                <span style="color:red;" *ngIf="studform.controls['name'] && studform.controls['name'].touched && studform.controls['name'].invalid">Required Field</span> <br>
            </div>
            <div class="form-group">
                <label for="name">Marks</label>
                <input type="number" class="form-control" formControlName="marks" required placeholder="Marks">
                <span style="color:red;" *ngIf="studform.controls['marks'] && studform.controls['marks'].touched && studform.controls['marks'].invalid">Required Field</span> <br>
            </div> <br>
            <div class="form-group">
                <button class="btn" type="submit"[disabled]="studform.invalid">ADD STUDENT</button>
            </div>

        </form>
    </div>

</div>